/*navbar */
.header {
  font-family: 'Lakki Reddy', cursive;
  margin-top: 5px;
  margin-left: 20px;
  color: white;
}
li {
  text-align: center;
  margin-top: 0px;
  margin-right: -11px;
  font-family: 'Roboto', sans-serif;
}

li a {
  display: inline;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 11px 11px;
  text-decoration: none;
 
} 
li a:hover {
background-color: rgb(192, 171, 155);
}
 #sidebarMenu a.active {
  background: rgb(183, 206, 211);
  text-decoration: underline;
}
#sidebarMenu {
    height: 73%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: -40px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: rgb(183, 206, 211);
  }
  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  /* Style & animate the hamburger toggle button.
  view source */
  input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 28px;
    right: 20px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:white;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }

  body {
    /* compressed image by 27%, from 5.65MB to 4.13MB */
    background-image: url("../images/popcorn-compressor.jpg"); 
    background-color:  rgb(183, 206, 211); /* Used if the image is unavailable */
    height: 529px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize image to cover entire container */  
  }
